In [ ]:
import pandas as pd
import numpy as np
import os as os

In [ ]:
os.getcwd()

In [ ]:
os.chdir('/Users/dixons/Desktop/Spring 2023/Python Workshop')

In [ ]:
#data = pd.read_csv('/Users/dixons/Desktop/Spring 2023/Python Workshop/ReferenceBasketball.csv')

data = pd.read_csv('ReferenceBasketball.csv')

data

In [ ]:
print(data)

------------------

**IMPORTANT SIDE NOTE**

I googled "view entire dataframe pandas" and found this function on:  **Stack Overflow**

---------------------

In [ ]:
 # more options can be specified also
    
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(data)

# 1. The pd.DataFrame() Function

In [ ]:
type(data)

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3],
                  'B': [4,5,6],
                  'C': [7,8,9]})
print(df)

In [ ]:
df

In [ ]:
df['A']

In [ ]:
type(df['A'])

In [ ]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=['a', 2, 3],
columns=['a', 'b', 'c'])
df

In [ ]:
df[['a','b']]

## Locating Rows

### By Index

In [ ]:
df.iloc[0]

### By Label

In [ ]:
#df.iloc['a']
df.loc['a']

In [ ]:
data

# Pandas Methods

In [ ]:
df

In [ ]:
df['a'].mean()

In [ ]:
df.loc['a'].mean()

In [ ]:
df['a'].std()

In [ ]:
df['a'].sum()

In [ ]:
df.sum()

In [ ]:
df.sum().mean()

In [ ]:
df.mean().sum()

In [ ]:
data.isnull().sum()

In [ ]:
data1 = data
data = data.dropna()

In [ ]:
data.isnull().sum()

In [ ]:
data

In [ ]:
data1 = data1.fillna('ORANGE')

In [ ]:
data1

# 'Matrixish' Math

In [ ]:
df1 = pd.DataFrame([[4, 7, 10],
                    [5, 8, 11],
                    [6, 9, 12],
                    [50,60,4],
                    [42,14,88]],
                   index=[1, 2, 3, 4, 5], 
                   columns=['a', 'b', 'c'])


df2 = pd.DataFrame([[6, 7, 30],[45, 6, 6],[29, 35, 13],[50,60,5],[42,14,88]],index=[1, 2, 3, 4, 5], columns=['a', 'b', 'c'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1*df2

In [ ]:
df1+df2

# 'Numpy'

 - Used for Linear Algebra, Matrix Multiplication, ect.

In [ ]:
Df1 = np.array(df1)
Df2 = np.array(df2)

In [ ]:
# np.matmul(Df1,Df2)

In [ ]:
Df1 = Df1.transpose()

In [ ]:
np.matmul(Df2,Df1)

In [ ]:
np.dot(Df1,Df2)

In [ ]:
Df1 = Df1.transpose()

In [ ]:
np.cross(Df1,Df2)

# Important Functions to Know

In [ ]:
#length
len(df1)

In [ ]:
df1

In [ ]:
y = [2,5,6,7,3,2,5,6,7,4,75,4,5,5,6565,65656,5334788,444,1]

In [ ]:
len(y)

In [ ]:
#range(start,stop, step)
x = range(3, 20, 2)
x

# Loops

## For Loops

In [ ]:
for i in range(len(y)):
    print(i)

In [ ]:
for i in range(len(y)):
    print(y[i])

# While Loop

In [ ]:
 i = 1
 while i <6:
   print(i)
   i += 1

In [ ]:
#i = 1
#while i <5000000:
  #  print(i)
   # i += 0.1

Infinite Loop - Dont Run!

In [ ]:
 #i = 1
 #while i <2:
   #print(i)

# Functions

In [ ]:
for i in range(len(x)):
    print(x[i])

In [ ]:
y=[]
for i in range(len(x)):
    y.append(i + 17)

y

In [ ]:
y=[]
for i in range(len(x)):
    y.append(x[i] + 17)   
y

In [ ]:
# Basic Function
z=[]
def mathify(r,p):
    for x in r:
        if x >= 24:
            p.append(x-6)
        elif x <= 20:
            p.append(x + 25)
        else:
            p.append(x)
    return print(p)

mathify(y,z)