In [22]:
import pandas as pd
import numpy as np
import os as os

In [40]:
os.getcwd()

'/Users/dixons/Desktop/Spring 2023/Python Workshop/SSOUGA-Python-Workshop'

In [39]:
os.chdir('/Users/dixons/Desktop/Spring 2023/Python Workshop/SSOUGA-Python-Workshop')

In [42]:
#data = pd.read_csv('/Users/dixons/Desktop/Spring 2023/Python Workshop/SSOUGA-Python-Workshop/ReferenceBasketball.csv')

data = pd.read_csv('ReferenceBasketball.csv')

data

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1.0,Primo Spears,21,21.0,784,134,313,0.428,120,259,...,15,57,72,116,25,0,73,36,352,amir-spears-1
1,2.0,Brandon Murray,16,16.0,554,87,203,0.429,65,142,...,14,42,56,56,21,9,43,36,232,brandon-murray-1
2,3.0,Qudus Wahab,21,21.0,507,71,141,0.504,71,140,...,63,92,155,5,13,16,28,52,209,qudus-wahab-1
3,4.0,Akok Akok,21,21.0,685,64,135,0.474,45,69,...,35,110,145,23,13,41,30,41,163,akok-akok-1
4,5.0,Jay Heath,12,11.0,402,59,133,0.444,39,81,...,6,43,49,18,13,1,16,24,161,jay-heath-1
5,6.0,Bryson Mozone,20,7.0,408,46,119,0.387,25,52,...,15,57,72,9,8,4,15,30,129,bryson-mozone-1
6,7.0,Jordan Riley,16,5.0,270,37,78,0.474,31,59,...,15,32,47,6,10,5,22,19,99,jordan-riley-1
7,8.0,Wayne Bristol,20,3.0,286,26,58,0.448,13,23,...,18,19,37,10,10,7,13,31,80,wayne-bristoljr-1
8,9.0,Bradley Ezewiro,16,0.0,165,19,41,0.463,19,41,...,17,29,46,2,4,10,7,25,53,bradley-ezewiro-1
9,10.0,Denver Anglin,16,0.0,118,8,34,0.235,3,7,...,1,7,8,8,2,0,5,10,23,denver-anglin-1
10,11.0,Ryan Mutombo,7,0.0,33,7,9,0.778,7,9,...,5,9,14,0,0,4,1,4,15,ryan-mutombo-1
11,12.0,D'Ante Bass,6,0.0,24,1,3,0.333,1,3,...,2,1,3,2,1,1,0,1,2,dante-bass-1
12,13.0,Malcolm Wilson,6,0.0,12,0,3,0.000,0,3,...,4,2,6,0,0,0,0,3,1,malcolm-wilson-1
13,14.0,Victor Muresan,1,0.0,1,0,1,0.000,0,1,...,0,0,0,0,0,0,0,0,0,victor-muresan-1
14,NaN,School Totals,21,NaN,4250,559,1271,0.440,439,889,...,239,528,767,255,120,98,262,312,1519,-9999

In [ ]:
print(data)

------------------

**IMPORTANT SIDE NOTE**

I googled "view entire dataframe pandas" and found this function on:  **Stack Overflow**

---------------------

In [ ]:
 # more options can be specified also
    
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(data)

# 1. The pd.DataFrame() Function

In [ ]:
type(data)

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3],
                  'B': [4,5,6],
                  'C': [7,8,9]})
print(df)

In [ ]:
df

In [ ]:
df['A']

In [ ]:
type(df['A'])

In [ ]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=['a', 2, 3],
columns=['a', 'b', 'c'])
df

In [ ]:
df[['a','b']]

# Dictionaries, Lists

In [2]:
Diction = {}
Diction1 = dict()

print(type(Diction),type(Diction1))

<class 'dict'> <class 'dict'>

In [3]:
list1 = []
list2 = list()

print(type(list1),type(list2))

<class 'list'> <class 'list'>

In [4]:
tuple1 = ()
tuple2 = tuple()

print(type(tuple1),type(tuple2))

<class 'tuple'> <class 'tuple'>

In [5]:
set1 = {1,2,3,4,53253,555,6}
set2 = set()

print(type(set1),type(set2))

<class 'set'> <class 'set'>

In [6]:
set1

{1, 2, 3, 4, 6, 555, 53253}

In [9]:
dict1 = {'Key1': ["Bannana", 3 ,55,[1,2,3]],
        'KeySquare': ['what', 3, {'Orange': ['you','glad']}],
        3: [3,4,5,]}

In [10]:
dict1

{'Key1': ['Bannana', 3, 55, [1, 2, 3]],
 'KeySquare': ['what', 3, {'Orange': ['you', 'glad']}],
 3: [3, 4, 5]}

In [11]:
dict1.keys()

dict_keys(['Key1', 'KeySquare', 3])

In [18]:
dict1['KeySquare']

dict_keys(['Orange'])

In [19]:
dict1['KeySquare'][2]

{'Orange': ['you', 'glad']}

In [20]:
dict1['KeySquare'][2].keys()

dict_keys(['Orange'])

## Locating Rows

### By Index

In [ ]:
df.iloc[0]

### By Label

In [ ]:
#df.iloc['a']
df.loc['a']

In [ ]:
data

# Pandas Methods

In [ ]:
df

In [ ]:
df['a'].mean()

In [ ]:
df.loc['a'].mean()

In [ ]:
df['a'].std()

In [ ]:
df['a'].sum()

In [ ]:
df.sum()

In [ ]:
df.sum().mean()

In [ ]:
df.mean().sum()

In [ ]:
data.isnull().sum()

In [ ]:
data1 = data
data = data.dropna()

In [ ]:
data.isnull().sum()

In [ ]:
data

In [ ]:
data1 = data1.fillna('ORANGE')

In [ ]:
data1

# Boolean Mask

In [43]:
data

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1.0,Primo Spears,21,21.0,784,134,313,0.428,120,259,...,15,57,72,116,25,0,73,36,352,amir-spears-1
1,2.0,Brandon Murray,16,16.0,554,87,203,0.429,65,142,...,14,42,56,56,21,9,43,36,232,brandon-murray-1
2,3.0,Qudus Wahab,21,21.0,507,71,141,0.504,71,140,...,63,92,155,5,13,16,28,52,209,qudus-wahab-1
3,4.0,Akok Akok,21,21.0,685,64,135,0.474,45,69,...,35,110,145,23,13,41,30,41,163,akok-akok-1
4,5.0,Jay Heath,12,11.0,402,59,133,0.444,39,81,...,6,43,49,18,13,1,16,24,161,jay-heath-1
5,6.0,Bryson Mozone,20,7.0,408,46,119,0.387,25,52,...,15,57,72,9,8,4,15,30,129,bryson-mozone-1
6,7.0,Jordan Riley,16,5.0,270,37,78,0.474,31,59,...,15,32,47,6,10,5,22,19,99,jordan-riley-1
7,8.0,Wayne Bristol,20,3.0,286,26,58,0.448,13,23,...,18,19,37,10,10,7,13,31,80,wayne-bristoljr-1
8,9.0,Bradley Ezewiro,16,0.0,165,19,41,0.463,19,41,...,17,29,46,2,4,10,7,25,53,bradley-ezewiro-1
9,10.0,Denver Anglin,16,0.0,118,8,34,0.235,3,7,...,1,7,8,8,2,0,5,10,23,denver-anglin-1
10,11.0,Ryan Mutombo,7,0.0,33,7,9,0.778,7,9,...,5,9,14,0,0,4,1,4,15,ryan-mutombo-1
11,12.0,D'Ante Bass,6,0.0,24,1,3,0.333,1,3,...,2,1,3,2,1,1,0,1,2,dante-bass-1
12,13.0,Malcolm Wilson,6,0.0,12,0,3,0.000,0,3,...,4,2,6,0,0,0,0,3,1,malcolm-wilson-1
13,14.0,Victor Muresan,1,0.0,1,0,1,0.000,0,1,...,0,0,0,0,0,0,0,0,0,victor-muresan-1
14,NaN,School Totals,21,NaN,4250,559,1271,0.440,439,889,...,239,528,767,255,120,98,262,312,1519,-9999

In [55]:
df7 = pd.DataFrame()
df7['Player'] = data['Player']
df7['ORB']=data['ORB']
df7['DRB']=data['DRB']
df7

             Player  ORB  DRB
0      Primo Spears   15   57
1    Brandon Murray   14   42
2       Qudus Wahab   63   92
3         Akok Akok   35  110
4         Jay Heath    6   43
5     Bryson Mozone   15   57
6      Jordan Riley   15   32
7     Wayne Bristol   18   19
8   Bradley Ezewiro   17   29
9     Denver Anglin    1    7
10     Ryan Mutombo    5    9
11      D'Ante Bass    2    1
12   Malcolm Wilson    4    2
13   Victor Muresan    0    0
14    School Totals  239  528

In [56]:
df7['ODRB']= df7['ORB'] - df7['DRB']
df7

             Player  ORB  DRB  ODRB
0      Primo Spears   15   57   -42
1    Brandon Murray   14   42   -28
2       Qudus Wahab   63   92   -29
3         Akok Akok   35  110   -75
4         Jay Heath    6   43   -37
5     Bryson Mozone   15   57   -42
6      Jordan Riley   15   32   -17
7     Wayne Bristol   18   19    -1
8   Bradley Ezewiro   17   29   -12
9     Denver Anglin    1    7    -6
10     Ryan Mutombo    5    9    -4
11      D'Ante Bass    2    1     1
12   Malcolm Wilson    4    2     2
13   Victor Muresan    0    0     0
14    School Totals  239  528  -289

In [57]:
MASK = df7['ORB'] >7

In [60]:
df7[MASK]

             Player  ORB  DRB  ODRB
0      Primo Spears   15   57   -42
1    Brandon Murray   14   42   -28
2       Qudus Wahab   63   92   -29
3         Akok Akok   35  110   -75
5     Bryson Mozone   15   57   -42
6      Jordan Riley   15   32   -17
7     Wayne Bristol   18   19    -1
8   Bradley Ezewiro   17   29   -12
14    School Totals  239  528  -289

In [61]:
MASK

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14     True
Name: ORB, dtype: bool

# 'Matrixish' Math

In [ ]:
df1 = pd.DataFrame([[4, 7, 10],
                    [5, 8, 11],
                    [6, 9, 12],
                    [50,60,4],
                    [42,14,88]],
                   index=[1, 2, 3, 4, 5], 
                   columns=['a', 'b', 'c'])


df2 = pd.DataFrame([[6, 7, 30],[45, 6, 6],[29, 35, 13],[50,60,5],[42,14,88]],index=[1, 2, 3, 4, 5], columns=['a', 'b', 'c'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1*df2

In [ ]:
df1+df2

# 'Numpy'

 - Used for Linear Algebra, Matrix Multiplication, ect.

In [ ]:
Df1 = np.array(df1)
Df2 = np.array(df2)

In [ ]:
# np.matmul(Df1,Df2)

In [ ]:
Df1 = Df1.transpose()

In [ ]:
np.matmul(Df2,Df1)

In [ ]:
np.dot(Df1,Df2)

In [ ]:
Df1 = Df1.transpose()

In [ ]:
np.cross(Df1,Df2)

# Important Functions to Know

In [ ]:
#length
len(df1)

In [ ]:
df1

In [ ]:
y = [2,5,6,7,3,2,5,6,7,4,75,4,5,5,6565,65656,5334788,444,1]

In [ ]:
len(y)

In [ ]:
#range(start,stop, step)
x = range(3, 20, 2)
x

# Loops

## For Loops

In [ ]:
for i in range(len(y)):
    print(i)

In [ ]:
for i in range(len(y)):
    print(y[i])

# While Loop

In [ ]:
 i = 1
 while i <6:
   print(i)
   i += 1

In [ ]:
#i = 1
#while i <5000000:
  #  print(i)
   # i += 0.1

Infinite Loop - Dont Run!

In [ ]:
 #i = 1
 #while i <2:
   #print(i)

# Functions

In [ ]:
for i in range(len(x)):
    print(x[i])

In [ ]:
y=[]
for i in range(len(x)):
    y.append(i + 17)

y

In [ ]:
y=[]
for i in range(len(x)):
    y.append(x[i] + 17)   
y

In [ ]:
# Basic Function
z=[]
def mathify(r,p):
    for x in r:
        if x >= 24:
            p.append(x-6)
        elif x <= 20:
            p.append(x + 25)
        else:
            p.append(x)
    return print(p)

mathify(y,z)